.button-nav {
  border: none;
  cursor: pointer;
  background-color: #FFFF;
}
.title {
  color: #AAAAAA;
}

.total-number {
  background-color: #AAAAAA;
  color: #FFFF;
  padding: 0px 7px;
  margin-left: 5px;
}