html{
  background: linear-gradient(to bottom, #E5E6EA, #BDC0CA);
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.align-center {
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.padding{
  padding: 0px 20px;
}